<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JWT 인증</h1>
	<p>화면없이 JSON을 이용해서 데이터를 주고 받는 구조에서는 HttpSession이나 쿠키를 이용하는
	기존의 인증방식에 제한을 받게 된다. 이를 해결하가 위해서 인증받은 사용자들은 특정한 문자열
	즉, 토튼을 이용하게 되는데 이때 많이 사용하는 것이 JWT(Json Web Token)이다.
	</p>
	
	<h2>API서버란?</h2>
	<p>API서버는 쉽게 "필요한 데이터만 제공하는 서비스"를 의미. API서버는 화면을 제공하는 것이 
	아니라 필요한 데이터를 호출하고 결과를 반환 받는 방식으로 동작한다. 그래서 API서버는 가장
	큰 특징이 화면을 제공하지 않는다는 것이다.</p>
	
	<p>브라우저에 필요한 화면의 모든 코드(HTML)를 서버에서 만들어 전송하는 방식을 서버사이드랜더링
	SSR(Server Side Rendering)이라고 하는데 JSP, Thymeleaf가 여기에 해당한다.</p>
	
	<p>API서버는 데이터를 제공하고 이 데이터를 클라이언트에서 처리하는 방식으로 클라이언트사이드
	랜더링(Client Side Rendering CSR)이라고 한다.</p>
	
	<p>CSR방식은 데이터를 어떻게 주고 받을 것인지가 중요한데 주고 JSON/XML포맷으로 데이터를 구성하고
	호출하는 방식은 REST방식을 이용하는 경우가 많다.</p>
	
	<p>API서버는 화면을 구성하지 않는다는 특징 외에도 "무상태(stateless)"라는 특징도 있다. 이 특징은
	API서버의 특징이라고 하기 보다는 HTTP or REST의 특징이지만 개발하는 방식에 약간의 차이가 있다.</p>
	
	<p>전통적인 SSR방식의 서비스는 쿠키와 세션을 이용해서 서버에 사용자정보를 저장할 수가 있다. 쿠키의
	경우는 쿠키를 발행한 서버를 호출할 때만 전달되는 방식이고 세션의 경우 서버내부에 JSESSIONID와 같은
	이름의 쿠키를 통해서 사용자정보를 처리할 수 있다.</p>
	
	<p>반면 API서버는 쿠키를 이용해서 데이터를 교환하는 방식이 아니다. API서버는 단순히 요청과 응답에서
	발생한 부수적인 결과를 유지하지 않는다. 즉, API서버는 순수하게 데이터를 요청하고 응답받는 방식으로
	구성된다.</p>
	
	<h3>Token기반의 인증</h3>
	
	<p>API거버가 단순히 데이터만 주고 받을 떄 외부에서 누구나 호출할 수 있는 URI를 알게되면 정보보안에
	문제가 생기게 된다. 따라서 특정한 방법으로 사용자나 프로그램에서 API서버를 호출할 때 제한하는 방법이
	필요하다.</p>
	
	<p>실습에서 사용할 방식은 "Token을 이용하는 방식"이다. Token은 일종의 표식과 같은 역할을 하는 데이터이다.
	API서버를 이용하고자하는 사람은 API서버에서 Token을 받아서 보관하고 호출할 때 자신이 가지고 있는 Token을
	API서버에 전달해서 API서버가 확인하는 방식이다.</p>
	
	<h4>Access Token / Refresh Token 의미</h4>
	
	<p>API서버에 입장할 수 있는 토큰을 Access Token이라고 한다. Access Token은 말 그대로 <b>특정한 자원에 접근
	할 수 있는지를 검사하기 위한 용도</b>이다. 만약 Access Token을 탈취가 당한다면 문제가 발생한다. 따라서
	Access Token을 이용할 때 유소시간을 짧게 지정하고 Access Token을 새로 발급받을 수 있는 Refresh Token을 
	같이 생성해 주어서 필요할 때 다시 Access Token을 발급받을 수 있도록 구성한다.</p>
	
	<h5>Access Token / Refresh Token 시나리오</h5>
	<ol>
		<li>사용자는 API서버로 부터 Access Token과 Refresh Token을 전달받는다.
		(예를들어 Access Token은 1일, Refresh Token은 10일이라고 가정)</li>
		<li>사용자가 특정한 작업을 하기 위해서 Access Token을 전달</li>
		<li>서버는 우선 Access Token을 유효한지를 검사하고 유효기간내의 토큰이라면 정상처리 아니라면 거부</li>
		<li>Access Token이 만료가 되었다면 사용자에게 만료된 토큰임을 알려줌</li>
		<li>사용자는 Refresh Token을 전송해서 새로운 Access Token을 요구</li>
		<li>서버에서 Refresh Token이 문제가 없다면 새로운 Access Token을 생성해서 전달</li>
		<li>만약, Refresh Token도 만료가 되었다면 새로운 Access Token과 Refresh Token을 전달</li>
	</ol>
	<hr />
	
	<h1>토큰인증을 위한 시큐리티 필터</h1>
	<p>스프링시큐리티는 수많은 필터로 구성되어 있고, 이를 통해서 Controller에 도달하기 전에
	필요한 인증처리를 할 수가 있다.</p>
	<ul>
		<li>사용자가 자신의 아이디/패스워드를 이용해서 Access Token과 Refresh Token을 발급</li>
		<li>사용자가 Access Token을 이용해서 Controller를 호출할 때 인증과 권한을 확인하는 기능을 구현</li>
	</ul>
	
	<h2>인증과 JWT발행 처리</h2>
	<p>사용자 아이디와 패스워드를 이용해서 JWT를 발행하는 기능은 Controller를 이용할 수 있지만
	스프링시큐리티의 <b>AbstractAuthenticationProcessingFilter클래스를 이용</b>하면 좀더 완전한
	분리가 가능하다.</p>
	
	<h2>APILoginFilter의 JSON처리</h2>
	<p>APILoginFilter는 사용자의 ID/PW를 이용해서 JWT문자열을 생성하는 기능을 수행하기
	위해 mid/mpw값을 알아야 한다. API서버는 POST방식으로 JSON문자열을 이용하는 것이 일
	반적이기 때문에 APILoginFilter에 기능을 작성한다.</p>
	
	<h3>인증정보 JSON문자열처리</h3>
	<p>JWT문자열을 HttpServletRequest로 처리하려면 JSON을 쉽게처리할 수 있는 라이브러리
	Gson을 bundle.gradble에 추가</p>
	
	<h3>인증성공처리</h3>
	<p>인증성공후에 JWT문자열을 생성하느 것이기 때문에 인증후 처리작업을 담당하는
	AuthenticationSuccessHandler를 이용해서 후처리 작업을 진행하기 위해 security.handler
	패키지에 추가작업을 진행</p>
	
	<p>현재시점에서 즉, token생성과정에서 남은 작업은 APILoginSuccessHandler에서
	Access Token과 Refresh Token을 생성해서 전송하는 작업을 완성한다. </p>
	
	<h4>JWT문자열 생성과 검증</h4>
	<p>JWT는 크게 헤더(Header), 페이로드(Payload), 서명(Signature)부분으로 작성되어 있는데
	각 부분은 .(dot)로 구분된다. 이중 페이로드는 클레임(claim)이라고 불리는 key와 value로
	구성된 정보를 저장한다. JWT형태를 쉽게 알 수 있는 방법은 https://jwt.io사이트에서 확인
	할 수 있다.</p>
	
	<h2>Access Token 발행</h2>
	<h3>Access Token Filter</h3>
	<p>Token이 정상적으로발행이 가능해 졌다면 특정한 경로를 호출할 때 이 Token을 검사하고
	문제가 없을 때만 접근이 가능하도록 해야 한다. 이 작업은 Spring Security에서 Filter를 
	추가해서 구성한다</p>
	
	<h4>TokenCheckFileter</h4>
	<p>이 필터는 현재 로그인한 사용자이지 체크하는 로그인체크와 JWT토큰을 검사하는 역할을
	위해 사용한다. TokenCheckFileter는 org.springframework.web.filter.OncePerRequestFilter를
	상속해서 구성하는데 OncePerRequestFilter클래스는 하나의 요청에 대해서 한번씩 동작하는
	필터로서 서블릿api필터와 유사하다.</p>
	
	<h3>TokenCheckFilter내 토큰 추출</h3>
	<p>/api/...로 시작하는 모든 경로의 호출은 TokenCheckFilter를 사용하게 된다. 
	사용자는 해당경로에 아래와 같은 상황으로 접근하게 된다.
	<ul>
		<li>Access Token이 없는 경우 - 토큰이 없다는 메시지를 전달</li>
		<li>Access Token이 잘못된 경우(서명등 기타 에러) - 잘못된 토큰이라는 메시지를 전달</li>
		<li>Access Token이 있지만 유효기간을 초과한 경우 - 토큰을 갱신하라는 메시지를 전달</li>
	</ul>
	</p>
	
	<h4>Access Token의 추출과 검증</h4>
	<p>검증단계에서 가장 먼저할 일은 브라우제가 전송하는 Access Token을 추출하는 것이다.
	일반적으로 <b>Access Token값은 HTTP Headerdp Authorization을 이용해서 전달</b>된다.
	Authorization헤더는 <span>type + 인증값</span>으로 작성되는데 type값은 <span>Basic, 
	Bearer, Digest, HOBA, Mutual등을 이용</span>한다. 이중에 <b>OAuth나 JWT는 Bearer 타입을
	이용</b>한다. TokenCheckFilter에 별도의 메서드를 추가해서 Authorization헤더를 추출하고
	Access Token을 검사한다.</p>
	
	<p>Access Token에 문제가 있을 경우 예외를 발생시켜 메시지를 전송하는 Exception클래스를
	작성한다.</p>
	
	<h4>Swagger UI에서 헤더처리</h4>
	<p>Swagger UI는 Authorization과 같은 보안관련 헤더를 추가하기 위해서는 환경설정을 
	해야 한다.(config/SwaggerConfig.java)</p>
	
	<h3>Refresh Token 처리</h3>
	<p>만료된 토큰이 전송되는 경우에 사용자는 다시 서버에 Access Token을 갱신해 달라고 요청해야 한다.
	실습에서는 /refreshToken이라는 경로를 이용해서 현재의 AccessToken과 Refresh Token을 전송해 주면 이를
	처리할 수 있도록 작성해야 한다.</p>
	
	<h4>토큰검증과정</h4>
	<ul>
		<li>Access Token이 존재하는지 확인</li>
		<li>Refresh Token의 만료 여부 확인</li>
		<li>Refresh Token의 만료기간이 경과했다면 다시 인증을 통해 토큰 재발급후 전달</li>
	</ul>
	<h4>Refresh Token을 이용하는 과정에서 발생할 수 있는 상황</h4>
	<ul>
		<li>Rfresh Token의 만료기간이 충분하면 Access Token만 새로 만들어지는 경우</li>
		<li>Rfresh Token기간이 얼마 안남은 상태(실습에서는 3일)에서 Access Token과 Refresh Token을 모두 생성하는 경우</li>
	</ul>
	
	<h4>Refresh Token 구현과 예외처리</h4>
	<h5>구현순서</h5>
	<ol>
		<li>전송된 JSON데이터에서 accessToken과 refreshToken을 추출</li>
		<li>accessToken을 검사해서 토큰이 없거나 잘못된 토큰인 경우 에러 메시지를 전송</li>
		<li>refreshToken을 검사해서 토큰이 없거나 만료된 토큰인 경우 에러 메시지를 전송</li>
		<li>새로운 accessToken을 생성</li>
		<li>만료기한이 얼마 남지 않은 경우 새로운 refreshToken을 생성</li>
		<li>accessToken과 refreshToken을 전송</li>
	</ol>
	
	<h4>새로운 Access Token 발행</h4>
	<p>토큰들의 검증단계가 끝났다면 새로운 토큰을 발행해야 한다.</p>
	<ol>
		<li>Access Token은 무조건 새로 발행</li>
		<li>Refresh Token은 만료기일이 얼마 남지 않았을 경우 발행</li>
	</ol>
	
	<h4>JWT의 한계</h4>
	<p>JWT는 자원을 보호하는 방식이 문자열이라는 한계가 있다. 해커가 Refresh Token을
	탈취한 상황이라면 Refresh Token가지고 Access Token을 생성할 수 있기 때문에 안전
	하지가 않게 된다.</p>
	
	<p>이런 상황을 조금이라도 보완하기 위해서 AccessToken과 Refresh Token을 DB에 보관하고
	DB의 값과 비교하는 방법을 이용할 수 있다.</p>
	
	<h3>브라우저에서 JWT확인</h3>
	<p>API서버를 이용하는 구조에서는 브라우저에서 HTTP로 JWT토큰을 전송하고 필요한 자원에
	접근하는 방식을 이용한다. 서버환경에서 먼저 체크하고 이후에 별도의 서버를 구축해서 확인
	하는 방법을 실습한다.</p>
	
	<h4>JWT를 이용하는 시나리오</h4>
	<ol>
		<li>/generateToken을 호출해서 서버에서 발행한 Access/Refresh Token을 받는다.</li>
		<li>/api/sample/doA를 호출할 때 가지고 있는 Access Token을 동시에 전달</li>
		<li>유효기간이 만료된 상황에서 서버는 에러메시지를 전송</li>
		<li>이 메시지를 판단에서 브라우저에서는 Refresh Token을 가지고 새로운 Access Token을
		    발행해야 한다.(이 과정은 자동으로 처리되기 때문에 slient refreshing이라고 한다.)
		</li>
		<li>Refresh Token도 만료가 된 상황에서는 새로운 Access Token을 발행할 수 없기 때문에
		    사용자에게 처음부터 다시 시작해야 함을 알려 줘야 한다. 
		</li>
	</ol>
	<hr />
	
	<h1>nginx 명령</h1>
	<table border="1">
		<theader>
			<tr>
				<th>명령</th>
				<th>설명</th>
			</tr>
		</theader>
		<tbody>
			<tr>
				<td>start nginx</td>
				<td>서버시작</td>
			</tr>
			<tr>
				<td>nginx -s stop</td>
				<td>서버즉시종료</td>
			</tr>
			<tr>
				<td>nginx -s quit</td>
				<td>서버지연종료</td>
			</tr>
			<tr>
				<td>nginx -s reload</td>
				<td>설정변경과 같은 작업후에 재시작</td>
			</tr>
			<tr>
				<td>nginx -s reopen</td>
				<td>로그파일 재오픈</td>
			</tr>
		</tbody>
	</table>
	
	<h1>CORS 문제</h1>
	<p>CORS(Cross Origin Resource Sharing)는 Ajax호출에서 get방식이 아닌 post방식에서 
	발생하는 Prelight문제이다.</p>
	
	<h5>Preligit(사전요청)?</h5>
	<p>Ajax는 GET/POST/HEAD방식의 요청을 Simple Request라고 하고 여기에 서버로 전송하는
	Content-Type이 'application/x-www-form-unlencoded, multipart/form-data, text/plain'인 경우
	에는 Ajax의 호출을 허용한다. 반면에 커스텀헤더를 이용하거나 Content-Type이 다른 경우에는
	Prelight Reuest라는 것을 실행한다.</p>
	
	<h2>CORS 문제해결</h2>
	<p>Ajax의 동일출처정책을 해결방법에는 여러가지가 있는데 예를 들어 브러우저에서 직접
	서버를 호출하는 대신에 현재 서버내에 다른 프로그램을 이용해서 API서버를 호출하는
	프록시(proxy-대리자)패턴을 이용하거나 JSONP와 같이 JSON이 아니라 순수한 JS파일을
	요청하는 방식등이 있다.</p>
	
	<p>가장 권장되는 해결책은 당연히 서버에서 CORS관련 설정으로 해결하는 것이다. 서버에서
	CORS설정은 주로 필터(Filter)를 이용해서 브라우저의 응답메시지에 해당요처이 문제가
	없었다는 헤더 정보들을 같이 전송하는 박시이다.</p>
	
	<p>스프링부트에서는 웹관련설정을 조정하는 방식 또는 컨트롤러에 @CrossOrigin이라는
	어노테이션을 이용해서 처리할 수 있다.</p>
	<hr />
	
	<h1>Todo API 서비스</h1>
	<table border="1">
		<thead>
			<tr>
				<th>경로</th>
				<th>메서드</th>
				<th>파라미터</th>
				<th>설명</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>/api/todo</td>
				<td>post</td>
				<td>JSON</td>
				<td>신규 Todo입력</td>
			</tr>
			<tr>
				<td>/api/todo/list</td>
				<td>get</td>
				<td>size,page,from,to,keyword</td>
				<td></td>
			</tr>
			<tr>
				<td>/api/todo/{tno}</td>
				<td>get</td>
				<td></td>
				<td>Todo추가</td>
			</tr>
			<tr>
				<td>/api/todo/{tno}</td>
				<td>post</td>
				<td>JSON</td>
				<td>Todo수정</td>
			</tr>
			<tr>
				<td>/api/todo/{tno}</td>
				<td>post</td>
				<td></td>
				<td>Todo삭제</td>
			</tr>
		</tbody>
	</table>
</body>
</html>








